<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCtRk8Uf6BdRl92Z4oDhLG1_8CvWpelfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1045252634080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.batteryServiceApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>batteryapp-3e3c5</string>
	<key>STORAGE_BUCKET</key>
	<string>batteryapp-3e3c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045252634080:ios:74ede26099c76dd827e785</string>
</dict>
</plist>